#adminSidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    display: block;
    overflow-y: auto;
    width: 250px;
    padding-right: 0;
    padding-left: 0;
    max-width: 100%;

    &__header {
        height: 75px;
    }

    &__logo {
        display: block;
        padding: 1.5rem;
        .logo {
            max-width: 100%;
            max-height: 2rem;
        }
    }

    &__inner {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    &__nav-list {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
        margin-left: -1.5rem;
        margin-right: -1.5rem;
    }

    &__nav-link {
        padding: .675rem 1.5rem;
        display: flex;
        align-items: center;
        font-size: .875rem;
    }
}