// DISPLAY

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

// ALIGN

.align {
    &__items {
        &--center {
            align-items: center;
        }
    }
    &__text {
        &--center {
            text-align: center;
        }
    }
}

// MARGIN

.ml {
    &--auto {
        margin-left: auto;
    }
    &--1 {
        margin-left: 1rem;
    }
    &--2 {
        margin-left: 2rem;
    }
    &--3 {
        margin-left: 3rem;
    }
    &--4 {
        margin-left: 4rem;
    }
    &--5 {
        margin-left: 5rem;
    }
    &--6 {
        margin-left: 6rem;
    }
    &--7 {
        margin-left: 7rem;
    }
    &--8 {
        margin-left: 8rem;
    }
}

.mr {
    &--auto {
        margin-right: auto;
    }
    &--1 {
        margin-right: 1rem;
    }
    &--2 {
        margin-right: 2rem;
    }
    &--3 {
        margin-right: 3rem;
    }
    &--4 {
        margin-right: 4rem;
    }
    &--5 {
        margin-right: 5rem;
    }
    &--6 {
        margin-right: 6rem;
    }
    &--7 {
        margin-right: 7rem;
    }
    &--8 {
        margin-right: 8rem;
    }
}

.w-100 {
    width: 100%;
}

